body {

}

.container {
}

#mainScreen {
    height: 400px;
    background: green;
    margin: auto; width: 800px
}



.legContainer {
    top: 100px;
    left: 50px;
    width: 200px;
    height: 50px;
    border: 1px solid #ddd;
    background-color: #eee;
    transform-origin: center left;
    cursor: pointer;
    position: relative;
}