body {

}
p {
    text-align: center;
}

#drawCanvasWrapper {
    width:800px;
    height: 400px;
    margin: auto; width: 800px;
    color: blue;
}

#drawCanvas {
    width:800px;
    height: 400px;    
    background: blue;
}


#mainScreen {
    height: 400px;
    background: green;
    margin: auto; width: 800px;
}



.legContainer {
    width: 200px;
    height: 50px;
    border: 1px solid #ddd;
    background-color: #eee;
    transform-origin: center left;
    cursor: pointer;
    position: relative;
}

.legOne {
    top: 100px;
    left: 100px;
    /* transform: rotate(60deg); */
}

.legTwo {
    top: -1px;
    left: 205px;
}